{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>{{category}}</title>
{% endblock %}

{% block extra_css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/categories.css'%}">
{% endblock %}

{% block content %}

<div class="card-list-group">
    {% include 'components/categories/category_list/category_list.html' %}
    {% include 'components/categories/category_list/goods_list.html' %}
</div>

<form style="display: flex; justify-content: center">
    <button style="border-radius: 5px" class="btn blue-gradient waves-effect" onClick="history.back()">На предыдущую страницу</button>
</form>
{% endblock %}
