<div id="comment-main-block">
    <div id="add-comment-block">
        <fieldset id="rating">
            <div class="rating_group">
                <p>Средняя оценка всеми пользователями:</p>
                <div style="display: inline-flex">
                    <span class="my-rating-9"></span>
                    <p id="average" style="color: #10c46a; margin-left: 10px; font-size: 20px;">{%if rated%}{{rated}}{%else%}0{%endif%}</p>
                </div>
            </div>
        </fieldset>
    </div>
</div>
