{% extends 'base/base.html' %}
{% block title %}
<title>Вход</title>
{% endblock %}
{% block content %}
{% include '../main/modal_form.html' %}
{% endblock %}
{% block extra_js %}
<script>
if (window.innerWidth < 780) {
    $('#signmodal_wrap').show()
    $('#signmodal_wrap').css('position', 'relative')
    }
else {
    $('#signmodal_standard').show()
    $('#signmodal_standard').css('margin-top', '150px')
    $('#signmodal_standard').removeClass('mt-5')
    $('footer').css('margin-top', '550px')
    $('body').css('overflow-y', 'hidden')
}

</script>
{% endblock %}