{% extends 'base/base.html' %}
{% load static %}

{% block title%}
<title>Восстановление пароля</title>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/recovery_password.css' %}">
{% endblock %}

{% block content %}

{% include 'components/registration/recovery_password/title_card.html' %}

{% if step == "1" %}
{% include 'components/registration/recovery_password/step1_name_card.html' %}

{% elif step == "2" %}
{% include 'components/registration/recovery_password/step2_code_card.html' %}

{% elif step == "3" %}
{% include 'components/registration/recovery_password/step3_password_card.html' %}

{% elif step == "4" %}
{% include 'components/registration/recovery_password/step4_success_card.html' %}
{% endif %}

{% endblock %}