{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Добавить продукт</title>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add_product.css'%}"> {% endblock %}
{% block content %}
<section class="section-md">
    <div class="container">
        <h3 id="header-text-in-form">Добавить продукт</h3>
        <div class="row row-30">
            {% include 'components/product/add_product/image.html' %}
            {% include 'components/product/add_product/form.html' %}
        </div>
    </div>
</section>
{% endblock %}
