{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>О нас</title>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/complaint.css'%}">
{% endblock %}
{% block content %}
    <div class="content">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="form-control">Напишите краткий заголовок к вашей жалобе:</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label for="form-control">Опишите свою жалобу здесь:</label>
                {{ form.text }}
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
            {% if form_errors %}
                <span class="form__error">Слишком длинный заголовок.</span>
            {% endif %}
        </form>

    {% for comp_resp in complaint_responses %}
    <form method="POST" action="">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                Наши администраторы ответили на вашу жалобу
            </div>
            <div class="card-body">
                <p style="white-space: pre;">{{comp_resp.text}}</p>
                <input type="hidden" name="complaint-response-id" value="{{comp_resp.id}}">
                <input type="hidden" name="checked" value="True">
                <button type="submit" class="btn btn-outline-warning">Отметить прочитанным</button>
            </div>
        </div>
    </form>
    {% endfor %}
    </div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/complaint.js' %}"></script>
{% endblock %}
