{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Фото</title>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/photo.css'%}">
{% endblock %}
{% block content %}
<form id="content-group" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="main-content-frame-in-content-group">
        <p class="header-text-in-main-content-frame">
            Загрузите фотографию товара
        </p>
        <p class="description-text-in-main-content-frame">
            Мы расскажем вам о нем всё, что знаем
        </p>
        <input id="secret-check" type="hidden" name="modal_check" value="false">
        <input class="files" id="file-input-for-label" type="file" accept="image/*" multiple onchange="func_submit_btn();">
        <label class="photo-load-button-in-main-content-frame btn-md" for="file-input-for-label" style="border: none; margin: 0 auto">
            <span class="text-in-photo-load-button">
                Загрузить фото
            </span>
        </label>
    </div>
    <input class="files" id="file-input-for-frame" type="file" accept="image/*" multiple onchange="func_submit_area();">
    <label for="file-input-for-frame" id="photo-frame-in-content-group">
        <label for="file-input-for-frame">
            <p class="main-text-in-photo-frame">
                Можно перетащить сюда фотографию в формате jpeg
            </p>
            <p class="description-text-in-photo-frame">
                Мы знаем всё про молочные, мясные продукты, крупы, воду и многое другое
            </p>
        </label>
    </label>
</form>

<!-- Модальное окно -->

<div class="modal fade" id="another_modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <form id="modal-group" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Ошибка в чтении</h5>
                    <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close" onclick="secret_change();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body special-modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="error-text-left text-danger">
                                Произошла ошибка в чтении файла изображения, загрузите другое фото
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="file-input-for-label">
                                <div class="icon-main icon-main-right">
                                    <i class="fas fa-download" style="font-size: 40px; margin-top: 20px;"></i>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBarcode">Или введите баркод</label>
                        <div class="input-group mb-3 special-input-group">
                            {{form.barcode}}
                            <span class="input-group-append">
                                <i data-toggle="tooltip" data-html="true" data-placement="right" data-title="Баркод - это набор чисел под изображением линий и пробелов.
                                <img class='d-block m-1 mx-auto' src='{% static 'img/extras/barcode.png' %}'>"
                                id="btn-tooltip" class="fas fa-question-circle"></i>
                            </span>
                        </div>
                        {% if form_errors %}
                        <span class="form__error">Введены некорректные данные</span>
                        {% endif %}
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="secret_change();">Закрыть</button>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </div>
        </form>

    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/photo.js' %}"></script>
<script>
$('#btn-tooltip').tooltip();

let csrftoken = '{{ csrf_token }}';

{% if modal_window %}
<script>
    $('#another_modal').modal('show');
    document.getElementById('secret-check').value = 'true';
{% endif %}
    function secret_change(){
        $('#another_modal').modal('hide');
        document.getElementById('secret-check').value = 'false';
    }
</script>
{% endblock %}
