{% extends 'admin/admin_base.html' %}
{% load static %}
{% block title %}
<title>Модерация</title>
{% endblock %}
{% block content %}
{% include 'components/admin/accept/other_pages_links.html' %}

<!--{{category_form}}-->
{% include 'components/admin/accept/new_category.html' %}


{% if not goods_data %}
{% include 'components/admin/accept/no_goods.html' %}
{% else %}

{% for good in goods_data %}
{% include 'components/admin/accept/good_on_moderation.html' %}
{% endfor %}

{% endif %}

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/admin/accept.js' %}"></script>
{% endblock %}