<button type="button" class="btn btn-outline-info mt-2" data-toggle="modal"
        data-target="#add_good_in_category{{category.id}}">
    Добавить товар в категорию
</button>
<div class="modal fade" id="add_good_in_category{{category.id}}" tabindex="-1"
     role="dialog"
     aria-labelledby="add_good_in_category" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add_good_in_category">Добавить новый продукт в категорию</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="" enctype="multipart/form-data">
                {%csrf_token%}
                <input type="hidden" name="type" value="category">
                <input type="hidden" name="action" value="add_good">
                <input type="hidden" name="category_id" value="{{category.id}}">
                <div class="modal-body">
                    <div>
                        <p>Создать название продукта</p>
                        <input type="text" placeholder="Название нового продукта" name="new_name">
                    </div>
                    <div>
                        <p>Фото нового продукта</p>
                        <input type="file" accept="image/*" name="image">
                    </div>
                    <div>
                        <p>Добавление баркода нового продукта</p>
                        <input type="text" placeholder="Баркод" name="barcode">
                    </div>
                    <div>
                        <p>Добавление оценки росконтроля</p>
                        <input type="number" placeholder="Оценка" name="points_rusControl">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-outline-primary">Сохранить
                        изменения
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>