<button type="button" class="btn btn-outline-dark mt-2" data-toggle="modal"
        data-target="#add_child_category{{category.id}}">
    Добавить дочернюю категорию
</button>
<div class="modal fade" id="add_child_category{{category.id}}" tabindex="-1"
     role="dialog"
     aria-labelledby="add_child_category" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add_child_category">Добавить нового ребёнка для
                    категории</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Создать категорию</p>
                <button class="btn btn-primary float-right" type="button"
                        data-toggle="collapse"
                        data-target="#collapseCategory"
                        aria-expanded="false"
                        aria-controls="collapseCategory">
                    Развернуть
                </button>

                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="collapse" id="collapseCategory">
                        <label for="category_name">Наименование: </label>
                        <input id="category_name" type="text"
                               name="name" value="{{good.name}}"
                               placeholder="Название" class="row mt-2"
                               required>

                        <label for="url_name">Хвост ссылки: </label>
                        <input id="url_name" type="text" name="url_name"
                               placeholder="URL" class="row mt-2"
                               required>

                        <select name="category"
                                class="form-control form-control-sm ml-1 mt-2 row">
                            <option value="None" disabled selected>
                                Select parent
                            </option>
                            {% for category in categories %}
                            <option value="{{category.id}}">
                                {{category.name}}
                            </option>
                            {% endfor %}
                        </select>
                        <input name="image" type="file" accept="image/*"
                               class="row mt-3">
                        <button type="submit"
                                class="btn btn-outline-success float-right mr-1"
                                name="action" value="create_category">
                            Сохранить
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
                <button type="submit" class="btn btn-outline-primary">Сохранить
                    изменения
                </button>
            </div>
        </div>
    </div>
</div>