{% load static %}
<div class="bg-light py-5">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <i class="fas fa-users fa-2x mb-3 text-primary"></i>
                <h2 class="display-4 font-weight-light">Наша команда</h2>
                <p class="font-italic text-muted">Для такого интересного проекта собрались необычно разные люди</p>
            </div>
        </div>

        <div class="row text-center">

            <!-- Team item-->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="card-container mt-4">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="{% static 'img/about_us_backgrounds/red.jpg' %}"/>
                            </div>
                            <div class="user">
                                <img class="img-circle"
                                     src="{% static 'img/about_us_avatars/nikita.png' %}"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Гудков Никита</h3>
                                    <p class="profession" style="font-size: 14px">Teamlider, main backend developer</p>

                                    <p class="text-center" style="font-size: 14px">"Не знаю как, но оно работает"</p>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <i class="fa fa-mail-forward"></i> Наведите для большей информации
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"5 AM - самое время писать код"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Роли в команде</h4>
                                    <p class="text-center" style="font-size: 14px">Один из важнейших людей в команде,
                                        главный по python & django, автор большей части backend</p>
                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>~200</h4>
                                            <p style="font-size: 14px">
                                                Коммитов
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>24</h4>
                                            <p style="font-size: 14px">
                                                Рекорд коммитов
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>3</h4>
                                            <p style="font-size: 14px">
                                                Основных проекта
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="footer">
                                <div class="email mt-2"><a href="mailto: nikitaster2001@gmail.com">nikitaster2001@gmail.com</a>
                                </div>
                                <div class="social-links text-center mt-2">
                                    <a href="" class="facebook icon"><i
                                            class="fab fa-vk fa-fw"></i></a>
                                    <a href="" class="google icon"><i
                                            class="fab fa-telegram-plane fa-fw"></i></a>
                                    <a href="" class="twitter icon"><i
                                            class="fa fa-twitter fa-fw"></i></a>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="card-container mt-4">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="{% static 'img/about_us_backgrounds/yellow.jpg' %}"/>
                            </div>
                            <div class="user">
                                <img class="img-circle"
                                     src="{% static 'img/about_us_avatars/ender.png' %}"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Ткачёв Андрей</h3>
                                    <p class="profession" style="font-size: 14px">Teamlider, main frontend developer</p>

                                    <p class="text-center" style="font-size: 14px">"Сделать не красиво = не сделать
                                        вообще"</p>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <i class="fa fa-mail-forward"></i> Наведите для большей информации
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"Почему работать ночью проще, чем спать?"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Роли в команде</h4>
                                    <p class="text-center" style="font-size: 14px">Второй из главных во всём, вечный
                                        консультант по системе Git, отвественный за дизайн </p>

                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>~110</h4>
                                            <p style="font-size: 14px">
                                                Коммитов
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>~50</h4>
                                            <p style="font-size: 14px">
                                                Созданных issue
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>3</h4>
                                            <p style="font-size: 14px">
                                                Основных проекта
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="footer">
                                <div class="email mt-2"><a href="mailto: sim200347@gmail.com">sim200347@gmail.com</a>
                                </div>
                                <div class="social-links text-center">
                                    <a href="" class="facebook icon"><i
                                            class="fab fa-vk fa-fw"></i></a>
                                    <a href="" class="google icon"><i
                                            class="fab fa-telegram-plane fa-fw"></i></a>
                                    <a href="" class="twitter icon"><i
                                            class="fa fa-twitter fa-fw"></i></a>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="card-container mt-4">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="{% static 'img/about_us_backgrounds/white.jpeg' %}"/>
                            </div>
                            <div class="user">
                                <img class="img-circle"
                                     src="{% static 'img/about_us_avatars/andrew.png' %}"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Мухин Андрей</h3>
                                    <p class="profession" style="font-size: 14px">Backend developer</p>

                                    <p class="text-center" style="font-size: 14px">"Могу разобраться в любом страшном
                                        коде"</p>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <i class="fa fa-mail-forward"></i> Наведите для большей информации
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"Главное - не сдаваться"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Роли в команде</h4>
                                    <p class="text-center" style="font-size: 14px">Активный разработчик серверной части,
                                        советчик по AI</p>

                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>~30</h4>
                                            <p style="font-size: 14px">
                                                Коммитов
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>11</h4>
                                            <p style="font-size: 14px">
                                                Коммитов в один день
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>2</h4>
                                            <p style="font-size: 14px">
                                                Основных проекта
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="footer">
                                <div class="email mt-2"><a href="mailto: muhinav14@mail.ru">muhinav14@mail.ru</a></div>
                                <div class="social-links text-center">
                                    <a href="" class="facebook icon"><i
                                            class="fab fa-vk fa-fw"></i></a>
                                    <a href="" class="google icon"><i
                                            class="fab fa-telegram-plane fa-fw"></i></a>
                                    <a href="" class="twitter icon"><i
                                            class="fa fa-twitter fa-fw"></i></a>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="card-container mt-4">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="{% static 'img/about_us_backgrounds/pink.jpeg' %}"/>
                            </div>
                            <div class="user">
                                <img class="img-circle"
                                     src="{% static 'img/about_us_avatars/anna.png' %}"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Анна Буше</h3>
                                    <p class="profession" style="font-size: 14px">Backend developer</p>

                                    <p class="text-center" style="font-size: 14px">"Могу сделать красиво и
                                        качественно"</p>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <i class="fa fa-mail-forward"></i> Наведите для большей информации
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"Много вопросов - признак заинтересованности"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Роли в команде</h4>
                                    <p class="text-center" style="font-size: 14px">Разработчик профиля, автор некоторых
                                        интересных функций</p>

                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>~11</h4>
                                            <p style="font-size: 14px">
                                                Коммитов
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>3</h4>
                                            <p style="font-size: 14px">
                                                Коммита за ночь
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>2</h4>
                                            <p style="font-size: 14px">
                                                Страницы сделано
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="footer">
                                <div class="email mt-2"><a href="mailto: annbushe@yandex.ru">annbushe@yandex.ru</a>
                                </div>
                                <div class="social-links text-center">
                                    <a href="" class="facebook icon"><i
                                            class="fab fa-vk fa-fw"></i></a>
                                    <a href="" class="google icon"><i
                                            class="fab fa-telegram-plane fa-fw"></i></a>
                                    <a href="" class="twitter icon"><i
                                            class="fa fa-twitter fa-fw"></i></a>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div>
            <!-- End-->

            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="card-container mt-4">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="{% static 'img/about_us_backgrounds/cyan.svg' %}"/>
                            </div>
                            <div class="user">
                                <img class="img-circle"
                                     src="{% static 'img/about_us_avatars/vlad.png' %}"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Харченко Влад</h3>
                                    <p class="profession" style="font-size: 14px">Backend developer</p>

                                    <p class="text-center" style="font-size: 14px">"Писать на js - тоже backend"</p>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <i class="fa fa-mail-forward"></i> Наведите для большей информации
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"Самое главное - без дублирования"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Роли в команде</h4>
                                    <p class="text-center" style="font-size: 14px">Автор js-части для этой страницы,
                                        разработчик backend-части для жалоб</p>

                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>~40</h4>
                                            <p style="font-size: 14px">
                                                Коммитов
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>9</h4>
                                            <p style="font-size: 14px">
                                                Коммитов за день
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>3</h4>
                                            <p style="font-size: 14px">
                                                Страницы создано
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="footer">
                                <div class="email mt-2"><a href="mailto: vladislavharcenko14@gmail.com">vladislavharcenko14@gmail.com</a>
                                </div>
                                <div class="social-links text-center">
                                    <a href="" class="facebook icon"><i
                                            class="fab fa-vk fa-fw"></i></a>
                                    <a href="" class="google icon"><i
                                            class="fab fa-telegram-plane fa-fw"></i></a>
                                    <a href="" class="twitter icon"><i
                                            class="fa fa-twitter fa-fw"></i></a>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div>
            <!-- End-->
            <div class="col-xl-4 col-sm-6 mb-5">
                <div class="card-container mt-4">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="{% static 'img/about_us_backgrounds/blue.jpg' %}"/>
                            </div>
                            <div class="user">
                                <img class="img-circle"
                                     src="{% static 'img/about_us_avatars/eugene.png' %}"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Маринин Евгений</h3>
                                    <p class="profession" style="font-size: 14px">Frontend developer</p>

                                    <p class="text-center" style="font-size: 14px">"Frontend только для избранных"</p>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <i class="fa fa-mail-forward"></i> Наведите для большей информации
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"Frontend - это не просто стили, а искусство"</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">Роли в команде</h4>
                                    <p class="text-center" style="font-size: 14px">Дизайнер команды, разработчик главной
                                        страницы</p>

                                    <div class="stats-container">
                                        <div class="stats">
                                            <h4>~24</h4>
                                            <p style="font-size: 14px">
                                                Коммита
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>5</h4>
                                            <p style="font-size: 14px">
                                                Коммитов за раз
                                            </p>
                                        </div>
                                        <div class="stats">
                                            <h4>2</h4>
                                            <p style="font-size: 14px">
                                                Страницы свёрстано
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="footer">
                                <div class="email mt-2"><a
                                        href="mailto: marinin2003@yandex.ru">marinin2003@yandex.ru</a></div>
                                <div class="social-links text-center">
                                    <a href="" class="facebook icon"><i
                                            class="fab fa-vk fa-fw"></i></a>
                                    <a href="" class="google icon"><i
                                            class="fab fa-telegram-plane fa-fw"></i></a>
                                    <a href="" class="twitter icon"><i
                                            class="fa fa-twitter fa-fw"></i></a>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div>
            <!-- End-->
        </div>
    </div>
</div>
