<div class="row mb-5" style="margin: 0">
    <div class="col-lg-6 ml-5"><i class="fas fa-history fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">История развития проекта</h2>
        <p class="font-italic text-muted mb-4">Наш краткий timeline</p>
    </div>
    <div class="col-md-12">
        <div class="main-timeline6">
            <div class="timeline">
                <div class="timeline-content">
                    <span class="year">Первая неделя</span>
                    <div class="content-inner">
                        <span class="icon"><i class="fa fa-cogs"></i></span>
                        <h3 class="title">Настройка проекта</h3>
                        <p class="description">
                            В первую неделю нам предстояла важная стадия - правильная настройка проекта для хорошего
                            старта
                        </p>
                    </div>
                </div>
            </div>
            <div class="timeline">
                <div class="timeline-content">
                    <span class="year">Четвёртая неделя</span>
                    <div class="content-inner">
                        <span class="icon"><i class="fa fa-rocket"></i></span>
                        <h3 class="title">Разделение проекта</h3>
                        <p class="description">
                            Было принято важное решение о разделении проекта на Web и Api части. Теперь они
                            располагаются на разных серверах и дают удобную возможность для переноса проекта на другие
                            платформы
                        </p>
                    </div>
                </div>
            </div>
            <div class="timeline">
                <div class="timeline-content">
                    <span class="year">Шестая неделя</span>
                    <div class="content-inner">
                        <span class="icon"><i class="fas fa-exclamation"></i></span>
                        <h3 class="title">Глобальные решения</h3>
                        <p class="description">
                            Мы решили, что пора начать заниматься читаемостью кода. Это привело к разделению фронтенда
                            на компоненты благодаря технологиям Django, а так же начали рефакторинг бэкенда и перенос
                            некоторых функция в Api
                        </p>
                    </div>
                </div>
            </div>
            <div class="timeline">
                <div class="timeline-content">
                    <span class="year">Будущее</span>
                    <div class="content-inner">
                        <span class="icon"><i class="fa fa-mobile"></i></span>
                        <h3 class="title">Вектор движения</h3>
                        <p class="description">
                            На этом наша разработка не заканчивается. У нас много планов, например внедрение AI. Чтобы
                            не пропустить важную информацию, следите за нами в соц.сетях
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
