{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<h1 class="display-4 card-title">Здравствуйте{% if user.is_authenticated %}, {{user}}
                                {% endif %}</h1>
<button class="btn btn-primary" type="button" id="modal-btn"
        data-toggle="modal" data-target="#signmodal"> Button
</button>
<div class="modal" id="signmodal">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/" method="POST">
                {% csrf_token %}
                <h1>Create Account</h1>
                <div class="social-container"><a href="#" class="social"><i
                        class="fab fa-facebook-f"></i></a><a href="#" class="social"><i
                        class="fab fa-google-plus-g"></i></a><a href="#" class="social"><i
                        class="fab fa-linkedin-in"></i></a></div>
                <span>or use your email for registration</span>
                {% if user_form.errors %}
                <div class="row">
                    {% if user_form.errors.password2 %}
                    {{user_form.errors.password2}}
                    {%endif%}
                    {% if user_form.errors.username %}
                    {{user_form.errors.username}}
                    {%endif%}
                    {% if user_form.errors.email %}
                    {{user_form.errors.email}}
                    {%endif%}
                </div>
                {%endif%}
                <div class="row">
                    {{user_form.username}}
                </div>
                <div class="row">
                    {{user_form.first_name}}
                </div>
                <div class="row">
                    {{user_form.last_name}}
                </div>
                <div class="row">
                    {{user_form.email}}
                </div>
                <div class="row">
                    {{user_form.password}}
                </div>
                <div class="row">
                    {{user_form.password2}}
                </div>
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Sign in</h1>
                <div class="social-container"><a href="#" class="social"><i
                        class="fab fa-facebook-f"></i></a><a href="#" class="social"><i
                        class="fab fa-google-plus-g"></i></a><a href="#" class="social"><i
                        class="fab fa-linkedin-in"></i></a></div>
                <span>or use your account</span><input
                    type="email" placeholder="Email"/><input type="password"
                                                             placeholder="Password"/><a
                    href="/recovery_password">Forgot your password?</a>
                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal
                        info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/button.js' %}"></script>
{% endblock %}
