.content {
    margin: 5%;

    display: flex;
    flex-direction: row;
}

.project-info-block {
    width: 50%;
    margin-right: 3%;

    text-align: center;

    display: flex;
    flex-direction: column;
}

.project-info-block h1 {
    color: black;
    font-size: -webkit-xxx-large;
}

.project-info-block hr {
    height: 1px;
    margin: 16px 25%;
    margin-bottom: 0px;
    border-color: black;
}

.participants-info-block {
    width: 50%;

    display: flex;
    flex-direction: column;
}

.people-block {
    margin: 3% 0px;
    display: flex;
    flex-direction: row;
}

.img-block {
    width: 30%;
    margin: 0px 3%;
}

.img-block img {
    width: 100%;
}

.contacts-block {
    width: calc(100% - 30% - 4*(3%));
    margin: 0px 3%;
}

.contacts-block p {
    font-size: medium;
    margin: 10px 0px;
}