body {
    overflow-x: hidden !important;
}
#content-block {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
}

@media only screen and (max-width: 992px) {
    #content-block {
        flex-wrap: wrap;
    }
}

#mask-group-in-content-block {
    position: static;
    margin: inherit;
    width: 100%;
    max-width: 480px;
    height: auto;
    padding: 5px 5px 0 5px;
    background-color: #f4f3f3;

    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);

    align-self: center;
    border-radius: 8px;
}

#photo-in-mask-group {
    position: static;
    width: 100%;
    max-width: 480px;
    height: auto;
    max-height: 720px;
    /* width: 360px;
    height: 479px;*/
    border-radius: 8px;
}

#header-text-in-form {
    position: static;
    font-family: Roboto-Black;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    margin: 16px auto;
    text-align: center;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
}

#description-text-in-form {
    position: static;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin: 16px 50px;
    line-height: 150%;
    color: #000000;
    flex: none;
    order: 1;
    align-self: flex-start;
}

#product-name-form-in-content-group {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    text-align: center;
}

#product-name-input-block {
    height: 60px;
    border-radius: 30px;
    border: solid #3B84F1;
    border-width: 0px;
    margin: 10px auto;
    order: 2;
}

#product-name-input {
    height: 60px;
    width: 100%;
    padding: 0px 20px;
    border: none;
    border-radius: 30px;
    border: solid #3B84F1;
    border-width: 3px;
}

#form-send-button-in-form {
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
    position: static;
    height: 52px;
    background: #3B84F1;
    border-radius: 4px;
    flex: none;
    order: 3;
    align-self: center;
}

#form-send-button-in-form:hover {
    background: #002f55;
}

#text-in-form-send-button {
    position: static;
    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 52px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
}