body {
    overflow-x: hidden !important;
}

.section-name {
    font-size: 5vh;
    font-weight: bold;
    margin: 20px;
    color: #888;
}

.main-frame {
    width: 40%;
    margin: 40px auto;
    border-radius: 8px
}

.errorlist li {
    list-style-type: disc;
}

.form-input {
    max-width: 250px;
    margin: 0 auto;
}

#inputGroupFileAddon {
        width: 150px;
    }

@media only screen and (max-width: 480px) {
    .h2 {
        font-size: 1.5rem;
    }
    .form-input {
        max-width: 150px;
    }
    .input-group {
        flex-flow: column;
        margin-bottom: 10px;
    }
    #inputGroupFileAddon {
        width: 160px;
    }
    .navbar-brand {
        margin-right: 0;
    }
}