#error-name {
    text-align: center;
    margin-top: 4%;
}

#error-text {
    font-size: 3vw;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

#to-main {
    font-size: 3vw;
    text-align: center;
    color: #0056b3;
    display: block;
    margin: 20px auto;
    margin-bottom: 2%;
}
#to-main:hover {
    text-decoration: none;
    color: #333;
}

.error_img {
    text-align: center;
    margin: 0;
}