body {
    overflow-x: hidden !important;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Regular.woff') format('woff'), url('fonts/Roboto-Regular.ttf') format('truetype'), url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Black.woff') format('woff'), url('fonts/Roboto-Black.ttf') format('truetype'), url('fonts/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Medium.woff') format('woff'), url('fonts/Roboto-Medium.ttf') format('truetype'), url('fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

#content-block {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0px;
    flex-flow: column;
}

/* ==================
    Photo block
   ================== */

#photo-block-in-content-block {
    display: flex;
    flex-direction: column;
    margin-right: 72px;
    margin-left: 10px;

    /* position: static;
    width: 360px; */
}

#mask-group-in-photo-block {
    position: static;
    display: flex;
    width: 100%;
    max-width: 480px;
    height: auto;
    padding: 5px;
    background-color: #f4f3f3;

    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    align-self: center;
    margin: 0px 16px;
}

/* #background-figure-in-mask-group {
    position: relative;
    height: 480px;
    height: auto;
    background: #C4C4C4;
    border-radius: 8px;
} */

#photo-in-mask-group {
    /* position: absolute; */
    /* width: 360px;
    height: 480px; */
    width: 100%;
    max-width: 480px;
    height: auto;
    border-radius: 8px;
}

#photo-load-label-in-photo-block {
    position: relative;
    height: 32px;

    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    display: flex;
    align-items: center;
    align-self: center;

    color: #757575;
}

/* ================
    Info block
   ================ */
.image {
    max-width: 630px;
}


@media only screen and (max-width: 650px) {
    .image {
        max-width: 360px;
    }
}

#info-block-in-content-block {
    /* display: flex; */
    flex-direction: column;
    margin-top: 72px;

    position: static;
    width: 700px;
    /* height: 100%; */
    left: 440px;
    top: 72px;

    flex: none;
    /* order: 1; */
    align-self: flex-start;
}

#way-to-the-page-in-info-block {
    position: static;
    width: 426px;
    height: 19px;
    left: 8px;
    top: 0px;
    margin-bottom: 10px;

    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;

    color: #757575;

    flex: none;
    order: 0;
    align-self: flex-start;
    margin: 0px 8px;
}

#product-name-in-info-block {
    position: static;
    height: 56px;
    left: 8px;
    top: 27px;

    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;

    color: #000000;

    flex: none;
    order: 1;
    align-self: flex-start;
    margin: 0px 8px;
}

/* Score block in info block */

#score-block-in-info-block {
    display: flex;
    flex-direction: row;
    padding: 0px;

    position: static;
    width: 474px;
    height: 68px;
    left: 8px;
    top: 91px;

    flex: none;
    order: 2;
    align-self: flex-start;
    margin: 0px 8px;
    flex-flow: inherit;
}

/* Recommendation block (like or not) */

#recommendation-block-in-score-block {
    display: flex;
    flex-direction: row;
    padding: 0px;

    position: static;
    width: 196px;
    height: 40px;
    left: 0px;
    top: 0px;

    flex: none;
    order: 0;
    align-self: flex-start;
    margin-bottom: 10px;
}

#image-recommendation-in-recommendation-block {
    position: static;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;

    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 150%;

    display: flex;
    align-items: center;

    color: #000000;

    flex: none;
    order: 0;
    align-self: center;
    margin: 12px 0px;
}

#text-recommendation-in-recommendation-block {
    position: static;
    width: 144px;
    height: 27px;
    left: 52px;
    top: 6.5px;
    padding-left: 10px;

    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    display: flex;
    align-items: center;

    color: #000000;

    flex: none;
    order: 1;
    align-self: center;
    margin: 12px 0px;
}

/* Numbered score block */

#numbered-score-block-in-score-block {
    display: flex;
    flex-direction: row;
    padding: 0px;

    position: static;
    width: 226px;
    height: 40px;
    left: 248px;
    top: 0px;

    flex: none;
    order: 1;
    align-self: flex-start;
}

#numbered-score-figure-in-numbered-score-block {
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
    margin-right: 10px;

    background: #74BC68;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score-number-in-numbered-score-figure {
    /*position: static;*/
    /*padding: calc((100% - 20px)/2);*/

    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#numbered-score-description-in-numbered-score-block {
    position: static;
    width: 170px;
    height: 27px;
    left: 56px;
    top: 6.5px;

    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    display: flex;
    align-items: center;

    color: #000000;

    flex: none;
    order: 1;
    align-self: center;
    margin: 16px 0px;
}

/* Advantages and disadvantages lists block in info block */

#adv-list-block-in-info-block {
    display: flex;
    flex-direction: column;
    padding: 0px;

    position: static;
    width: 497px;
    left: 8px;
    top: 167px;

    flex: none;
    order: 3;
    align-self: flex-start;
    margin: 0px 8px;
    margin-top: 30px;
}

#adv-list-name-in-adv-list-block {
    position: static;
    width: 162px;
    height: 35px;
    left: 0px;
    top: 0px;

    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;

    display: flex;
    align-items: center;

    color: #000000;

    flex: none;
    order: 0;
    align-self: flex-start;
    margin: 0px 8px;
}

#adv-list-in-adv-list-block {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#adv-list-in-adv-list-block li {
    position: static;
    width: 100%;
    height: 25px;
    left: 0px;
    top: 175px;

    display: flex;
    flex-direction: row;
    order: 5;
    align-self: flex-start;
    margin: 0px 8px;
}

#adv-list-in-adv-list-block span {
    position: static;
    width: calc(100% - 24px);
    height: 24px;
    left: 24px;
    top: calc(50% - 24px/2 - 0.5px);

    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    display: flex;
    align-items: center;

    color: #000000;
}

#adv-list-in-adv-list-block em {
    position: static;
    width: 24px;
    height: 24px;
    left: 0px;
    top: calc(50% - 24px/2 + 0.5px);

    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;

    display: flex;
    align-items: center;

    color: #74BC68;
}
/* == */

#disadv-list-block-in-info-block {
    display: flex;
    flex-direction: column;
    padding: 0px;

    position: static;
    width: 497px;
    left: 8px;
    top: 167px;

    flex: none;
    order: 3;
    align-self: flex-start;
    margin: 0px 8px;
}

#disadv-list-name-in-adv-list-block {
    position: static;
    width: 162px;
    height: 35px;
    left: 0px;
    top: 0px;

    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;

    display: flex;
    align-items: center;

    color: #000000;

    flex: none;
    order: 0;
    align-self: flex-start;
    margin: 0px 8px;
}

#disadv-list-in-adv-list-block {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#disadv-list-in-adv-list-block li {
    position: static;
    width: 100%;
    height: 25px;
    left: 0px;
    top: 175px;

    display: flex;
    flex-direction: row;
    order: 5;
    align-self: flex-start;
    margin: 0px 8px;
}

#disadv-list-in-adv-list-block span {
    position: static;
    width: calc(100% - 24px);
    height: 24px;
    left: 24px;
    top: calc(50% - 24px/2 - 0.5px);

    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    display: flex;
    align-items: center;

    color: #000000;
}

#disadv-list-in-adv-list-block em {
    position: static;
    width: 24px;
    height: 24px;
    left: 0px;
    top: calc(50% - 24px/2 + 0.5px);

    font-family: Roboto-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;

    display: flex;
    align-items: center;

    color: #FF7C6A;
}

@media only screen and (max-width: 1100px) {
    #info-block-in-content-block {
        margin-top: 20px;
    }
}

/*
---------------
Comments
---------------
*/

#comment-main-block {
    display: flex;
    flex-direction: column;
    margin: 60px 5%;
    /* margin-right: 25%; */
}

#add-comment-block label {
    margin: 10px 0px;
    margin-top: 15px;
}

#add-comment-block p {
    margin: 0;
    margin-bottom: 10px;
}

#comment-list-block {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin: 0 10%;
}

#comment-list-block textarea {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 9px 12px;
    margin: 10px 0px;
    margin-left: 40px;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    resize: none;
}

#comment-list-block input {
    margin-left: 40px;
}

#comment-list-block h1 {
    margin-left: 40px;
}

/* comment */

#comment-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

#comment-text {
    color:
}

#comment-block p {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 0px;
    word-wrap: break-word;
}

.breadcrumb-item > a {
    color: #10bbc4;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">" !important;
}

#comment-head-block {
    display: flex;
    flex-direction: column;
    border: aquamarine solid 0.5px;
    padding: 5px;
    border-radius: 10px;
}

#vertical-line {
    border-width: 0 1px 0 0;
    border-style: solid;
    height: 24px;
    margin: 0px 10px;
}

/* sub_comment */

#sub_comment-block {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    margin-left: 40px;
    padding: 5px;
    border: darkviolet solid 0.5px;
    border-radius: 5px;
}

#sub_comment-head-block {
    display: flex;
    flex-direction: row;
}

#vertical-line-sub {
    border-width: 0 1px 0 0;
    border-style: solid;
    height: 24px;
    margin: 0px 10px;
}

#rating{
    /* margin: 10px 40px;
    margin-bottom: 0px; */
    padding: 0;
    border: none;
}

.rating_caption{
    color: #fff;
    margin-bottom: 0.5em;
    padding: 0;
}

#rating_group{
    position: relative;
    width: 10em;
    height: 2em;
    background-image: url(http://s1.iconbird.com/ico/2013/12/517/w128h1281386955448starempty3.png);
    background-size: 2em 1.9em;
    background-repeat: repeat-x;
}

#rating_input{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

#rating_star{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 2em;
    background-size: 2em 1.9em;
    background-repeat: repeat-x;
}

#rating_star:hover,
#rating_input:checked + #rating_star{
    background-image:url(http://s1.iconbird.com/ico/2013/12/517/w128h12813869554480starfull3.png);
}

#rating_star:nth-of-type(1){
    z-index: 5;
    width: 2em;
}

#rating_star:nth-of-type(2){
    z-index: 4;
    width: 4em;
}

#rating_star:nth-of-type(3){
    z-index: 3;
    width: 6em;
}

#rating_star:nth-of-type(4){
    z-index: 2;
    width: 8em;
}

#rating_star:nth-of-type(5){
    z-index: 1;
    width: 10em;
}

.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 100%;
	/* margin-top: 10px; */
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	/* max-height: 100%; */
	max-width: 600px;
	height: auto;
	/* max-width: 100%; */
}

.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }

}

@media only screen and (max-width: 980px) {
    #photo-frame-in-content-group {
        display: none;
    }
    #content-group {
        width: auto;
    }
}
@media only screen and (max-width: 1275px) {
    #content-block {
        flex-wrap: wrap !important;
    }
}

.status-card {
        padding: 20px;
    }

    .modal form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
    }

    .modal-content-thanks {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-clip: padding-box;
        outline: 0;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .modal-thanks-container {
        left: 0;
        z-index: 2;
        margin: 0 auto;
    }

    .thanks-container-modal {
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        padding: 0 40px 20px;
        margin-right: auto;
        margin-left: auto;
    }

    .modal-dialog-special {
        position: relative;
        width: auto;
        pointer-events: none;
    }

    .modal-header {
        border-bottom: none !important;
    }

    .thanks-text {
        font-family: Roboto-Regular;
        font-style: normal;
        font-weight: 900;
        font-size: 2rem;
        line-height: 120%;
        color: #007bff;
        text-align: center;
    }

    #timer-description {
        margin: 50px 0px 40px 0px;
        text-align: center;
        font-family: Roboto-Regular;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
    }

    @media (min-width: 576px){
        .modal-dialog-special {
            max-width: 500px;
            margin: 20vh auto;
        }
    }
    @media (max-width: 450px) {
        .modal-form {
            padding: 0 !important;
        }
    }

#btn:hover{cursor: pointer}
#btn {
  background: transparent; outline: none;
  position: relative;
  border: 2px solid #111;
  padding: 15px 50px;
  overflow: hidden;
}

/*button:before (attr data-hover)*/
#btn:hover:before{opacity: 1; transform: translate(0,0);}
#btn:before{
  content: attr(data-hover);
  position: absolute;
  top: 1.1em; left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: .8em;
  opacity: 0;
  transform: translate(-100%,0);
  transition: all .3s ease-in-out;
}
  /*button div (button text before hover)*/
  #btn:hover div{opacity: 0; transform: translate(100%,0)}
  #btn div{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    transition: all .3s ease-in-out;
  }

.active-pink-textarea textarea.md-textarea {
  border-bottom: 1px solid #00C851;
  box-shadow: 0 1px 0 0 #00C851;
}

.active-pink-textarea.md-form label {
  color: #00C851;
}
.active-pink-textarea.md-form .prefix {
  color: #00C851;
}

.active-pink-textarea.md-form label.active {
  color: #33b5e5;
}
.pink-textarea textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #33b5e5;
  box-shadow: 0 1px 0 0 #33b5e5;
}
.pink-textarea.md-form .prefix.active {
  color: #33b5e5;
}
.active-pink-textarea.md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #33b5e5;
}
