.colorize {
    transition: .5s;
}
.colorize:hover {
    color: #3B84F1;
}

.success{
   color:white;
  text-decoration:none;
  -webkit-animation:rainbow 5s linear infinite alternate;
  -moz-animation:rainbow 5s linear infinite alternate;
  -ms-animation:rainbow 5s linear infinite alternate;
  -o-animation:rainbow 5s linear infinite alternate;
  animation:rainbow 5s linear infinite alternate;
}

@-webkit-keyframes rainbow {
    0%   {color:#00f7ff;}
    33%  {color:#17c019;}
    66% {color:##29ff00;}
    100% {color:#61ff00;}
}
@-moz-keyframes rainbow {
    0%   {color:#00f7ff;}
    33%  {color:#17c019;}
    66% {color:##29ff00;}
    100% {color:#61ff00;}
}
@-ms-keyframes rainbow {
    0%   {color:#00f7ff;}
    33%  {color:#17c019;}
    66% {color:##29ff00;}
    100% {color:#61ff00;}
}
@-o-keyframes rainbow {
    0%   {color:#00f7ff;}
    33%  {color:#17c019;}
    66% {color:##29ff00;}
    100% {color:#61ff00;}
}
@keyframes rainbow {
    0%   {color:#00f7ff;}
    33%  {color:#17c019;}
    66% {color:##29ff00;}
    100% {color:#61ff00;}
}

<style>
@media only screen and (max-width: 600px) {
    .card-title {
        font-size: 1rem;
    }
}
</style>