{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Изменение данных</title>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/change_info.css'%}">
{% endblock %}
{% block content %}
<div class="container">

    {% include 'components/profile/change_info/change.html' %}

</div>
{% endblock %}
{% block extra_js %}
<script>
inputGroupFile.addEventListener('change', function() {
    chosed_file.textContent = inputGroupFile.files[0].name;
})
</script>
{% endblock %}
