{% load static %}
<h1 class="main-name text-center">Личный кабинет</h1>
<hr>
<div class="row">
    <div class="col mb-4">
        {% if photo %}
        <img class="rounded mb-3 float-right my-image" src="{{photo}}" alt="icon"> {% else %}
        <img class="rounded mb-3 float-right my-image" src="{% static 'img/profile/profile_icon.png' %}" alt="icon"> {% endif %}
    </div>
    <div class="col mb-4" style="position: relative;">
        <p class="card-title text-left">Имя: <span class="font-weight-bold">{{ user.username}}</span></p>
        <p class="card-title text-left">Email: <span class="font-weight-bold">{{ user.email }}</span></p>
        <p class="card-title text-left">Последний вход: <span class="font-weight-bold">{{ user.last_login }}</span>
        </p>
        <form class="form-group" action='/change_info/' method="POST">
            {% csrf_token %}
            <button type="submit" name="id" class="btn btn-outline-primary btn-md"><span
                class="text-in-change-btn text-center">Изменить данные</span></button>
        </form>
    </div>
</div>

<hr>
