{% load socialaccount %}
<div class="overlay-container">
    <div class="overlay">
        <div class="overlay-panel overlay-left">
            <h1>Добро пожаловать назад!</h1>
            <p>Чтобы использовать все функции, войдите в аккаунт
            </p>
            <button class="bt-ghost-in-acc" id="signIn">Вход</button>
        </div>
        <div class="overlay-panel overlay-right">
            <h1>Приветствую, друг!</h1>
            <p>Зарегистрируйтесь, чтобы использовать сайт по максимуму</p>
            <button class="bt-ghost-up" id="signUp">Регистрация</button>
        </div>
    </div>
</div>