{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Галерея</title>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}">
<script src="{% static 'js/modernizr.custom.js' %}"></script>
{% endblock %}
{% block content %}
<ul id="og-grid" class="og-grid">
<!--    <li>-->
<!--        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="{% static 'images/1.jpg' %}" data-title="Azuki bean"-->
<!--           data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">-->
<!--            <img src="{% static 'images/thumbs/1.jpg' %}" alt="img01"/>-->
<!--        </a>-->
<!--    </li>-->
<!--    <li>-->
<!--        <a href="http://cargocollective.com/jaimemartinez/" data-largesrc="{% static 'images/2.jpg' %}"-->
<!--           data-title="Veggies sunt bona vobis"-->
<!--           data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">-->
<!--            <img src="{% static 'images/thumbs/2.jpg' %}" alt="img02"/>-->
<!--        </a>-->
<!--    </li>-->
  {% for image in images %}
    <li>
        <a href="#" data-largesrc="{{image.file.url}}"
           data-title="{{ name }}"
           data-description="Автор фото: {{ image.user }}. Фото загружено {{ image.created }}.">
            <img src="{{image.file.url}}" alt="img02" style="max-height: 250px;"/>
        </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'js/grid.js' %}"></script>
<script>
$(function() {
    Grid.init();
});
</script>
{% endblock %}