{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Галерея</title>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}">
<script src="{% static 'js/modernizr.custom.js' %}"></script>
{% endblock %}
{% block content %}
<ul id="og-grid" class="og-grid">
  {% for image in images %}
    <li>
        <a href="#" data-largesrc="{{image.file.url}}"
           data-title="{{ name }}"
           data-description="Автор фото: {{ image.user }}. Фото загружено {{ image.created }}.">
            <img src="{{image.file.url}}" alt="img02" style="max-height: 250px; max-width: 500px;"/>
        </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'js/grid.js' %}"></script>
<script>
$(function() {
    Grid.init();
});
</script>
{% endblock %}