{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Фото</title>
{% endblock %}
{% block extra_css %}
<style>
    @media only screen and (min-width: 992px) {
        #photo-frame-in-content-group {
            display: none;
        }
    }


.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/photo.css'%}">
{% endblock %}
{% block content %}
<div class="preloader" style="display: none">
  <div class="preloader__row">
    <div class="preloader__item"></div>
    <div class="preloader__item"></div>
  </div>
</div>
<form id="content-group" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="main-content-frame-in-content-group">
        <p class="header-text-in-main-content-frame">
            Загрузите фотографию товара
        </p>
        <p class="description-text-in-main-content-frame">
            Мы расскажем вам о нем всё, что знаем
        </p>
        <input class="files" id="file-input-for-label" type="file" accept="image/*" multiple onchange="func_submit_btn();">
        <label class="photo-load-button-in-main-content-frame btn-md" for="file-input-for-label" style="border: none; margin: 0 auto">
            <span class="text-in-photo-load-button">
                Загрузить фото
            </span>
        </label>
    </div>
    <input class="files" id="file-input-for-frame" type="file" accept="image/*" multiple onchange="func_submit_area();">
    <label for="file-input-for-frame" id="photo-frame-in-content-group">
        <label for="file-input-for-frame">
            <p class="main-text-in-photo-frame">
                Можно перетащить сюда фотографию в формате jpeg
            </p>
            <p class="description-text-in-photo-frame">
                Мы знаем всё про молочные, мясные продукты, крупы, воду и многое другое
            </p>
        </label>
    </label>
</form>
<!-- Модальное окно -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    Модальное окно
</button>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ошибка в чтении</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="error-text-left text-danger">
                                Произошла ошибка в чтении файла изображения, загрузите другое фото
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="file-input-for-label">
                                <div class="icon-main icon-main-right">
                                    <i class="fas fa-download" style="font-size: 40px; margin-top: 20px;"></i>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBarcode">Или введите баркод</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="inputBarcode" placeholder=" " aria-describedby="question-barcode" pattern="^[0-9]{11,15}" required>
                            <span class="input-group-append">
                                <i data-toggle="tooltip" data-html="true" data-placement="right" data-title="Баркод - это набор чисел под изображением линий и пробелов.
                                <img class='d-block m-1 mx-auto' src='/static/img/barcode.png'>"
                                id="btn-tooltip" class="fas fa-question-circle" id="question-barcode"></i>
                            </span>
                        </div>
                        <span class="form__error">Введены некорректные данные</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
$('#btn-tooltip').tooltip();
</script>
<script>
let csrftoken = '{{ csrf_token }}';
</script>
<script src="{% static 'js/photo.js' %}"></script>
{% endblock %}