<!--<form class="col-lg-6 col-md-6" id="product-name-form-in-content-group" action="" method="post">-->
<!--    <p>На этой странице вы можете отправить нашим модераторам название и фотографию продукта, которого, скорее всего, наш сайт не смог опознать или название которого не совпадает с настоящим.</p>-->
<!--    {% csrf_token %}-->
<!--    <input name="name" type="text" id="product-name-input" placeholder="Введите название продукта..." required>-->
<!--    <input type="hidden" name="img_url" value="{{img}}">-->
<!--    <button class="btn" id="form-send-button-in-form" type="submit">-->
<!--        <span id="text-in-form-send-button">Отправить на модерацию</span>-->
<!--    </button>-->
<!--</form>-->

<div class="md-form">
    <i class="far fa-keyboard prefix"></i>
    <input type="text" id="inputIconEx1" class="form-control">
    <label for="inputIconEx1">Название продукта</label>
</div>
