{% load static %}
<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <nav class="top-nav">
        <ul class="navbar-nav top-nav">
            {% if request.user.is_superuser %}
            <li class="nav-item float-right">
                <a class="nav-link" href="/admin/accept/">
                    <i class="fas fa-home"></i>
                    <span class="i-text">Админ-панель</span>
                </a>
            </li>
            {% endif %}
            <li class="nav-item float-right">
                <a class="nav-link" href="/">
                    <i class="fas fa-home"></i>
                    <span class="i-text">Главная</span>
                </a>
            </li>
            <li class="nav-item float-right">
                <a class="nav-link" href="/category/">
                    <i class="fas fa-home"></i>
                    <span class="i-text">Товары</span>
                </a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item float-right">
                <a class="nav-link" type="button" id="modal_btn" data-toggle="modal" data-target="#signmodal">
                    <i class="fas fa-user"></i>
                    <span class="i-text">Вход</span>
                </a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    <span class="i-text">{{user.username}}</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/profile" style="text-align: left;">
                        <i class="fas fa-user-circle"></i>
                        <span class="i-text">Профиль</span>
                    </a>
                    <a class="dropdown-item" href="/logout" style="text-align: left;">
                        <i class="fas fa-user-times"></i>
                        <span class="i-text">Выйти</span>
                    </a>
                </div>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
