<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'components/base/base/css_imports.html' %}
    {% include 'components/base/base/favicon.html' %}

    {% block title %}
    <title>Главная</title>
    {% endblock %}

    {% block extra_css %}{% endblock %}
</head>

<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(62816626, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/62816626" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% include 'components/base/base/preloader.html' %}

<header>
    {% include 'base/menu.html' %}
    {% block menu %}
    {% endblock %}
</header>

<main>
    {% include 'main/modal_form.html' %}
    {% block content %}
    {% endblock %}
</main>

<footer id="footer">
    {% include 'base/footer.html' %}
</footer>

{% include 'components/base/base/js_imports.html' %}

{% block extra_js %}{% endblock %}
</body>
</html>
