<!-- <ul class="icons">
    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
</ul>
<p class="copyright">&copy; Продовед</p> -->
<div class="container logoFooter">
    <div class="linksFooter">
        <a class="linkFooter" href="">О нас</a>
        <a class="linkFooter" href="">Поддержка</a>
    </div>
    <div class="socialAppLinks">
        <ul class="icons">
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>
        <div class="appLinks">
            <a class="mobileLink__appStore" href="">
                <button class="app-store">
                    <span class="fab fa-apple app-store-icon"></span>
                    <p>Download on the</p>
                    <h1>App Store</h1>
                </button>
            </a>
            <a class="mobileLink__googlePlay" href="">
                <img style="width: 155px;height: 60px;" src="https://play.google.com/intl/nl/badges/static/images/badges/ru_badge_web_generic.png" alt="">
            </a>
        </div>
    </div>
</div>