<style>
footer {
  flex-shrink: 0;
  overflow: hidden;
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
</style>
<footer class="footer-dark" >
    <div>
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Основные</h3>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">Опросы</a></li>
                    <li><a href="#">Жалоба</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Другое</h3>
                <ul>
<!--                    {% if not user.is_authenticated %}-->
<!--                    <li><a href="/login">Авторизация</a></li>-->
<!--                    <li><a href="/registration">Регистрация</a></li>-->
<!--                    {% endif %} {% if user.is_authenticated %}-->
<!--                    <li><a href="#">Профиль</a></li>-->
<!--                    <li><a href="/logout">Выход</a></li>-->
<!--                    {% endif %}-->
                    <li><a href="#">О нас</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>BombIt Team</h3>
                <p>Добро пожаловать:)</p>
            </div>
        </div>
        <p class="copyright">BombIt Team © 2020</p>
    </div>
</footer>