<nav>
    <div class="row">
        <div class="col">
            <a href="/">Main</a>
        </div>
        <div class="col">
            <a href="/registration">Register</a>
        </div>
        <div class="col">
            <a href="/login">Login</a>
        </div>
        <div class="col">
            <a href="/logout">Logout</a>
        </div>
        <button class="btn-hover color-4 float-right mr-3" type="button" id="modal_btn"
                data-toggle="modal" data-target="#signmodal"> Log In/Sing Up </button>
    </div>
</nav>