{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>О нас</title>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about_us.css'%}">
{% endblock %}
{% block content %}
    <div class="content" onload="load_people();">
        <div class="project-info-block">
            <h1>О нас</h1>
            <hr>
            <p>
                Проект "Продовед" - работа группы учеников "Школы программистов Онлайн". Надеемся, что
                наш сервис, позволяющий вам по фотографии опознать товар, а также найти его в каталоге
                на нашем сайте, оставит вам хорошие впечатления!
            </p>
            <a href="https://informatics.ru"><img src="{%static 'img/extras/shp.png' %}" style="width: 100%;"></a>
        </div>
        <div id="participants-info-block">

        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/about_us.js' %}"></script>
{% endblock %}
