{% extends 'base/base.html' %} {% load static %}
{% block title %}
<title>О нас</title>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about_us.css'%}">
{% endblock %}
{% block content %}
    <div class="content">
        <div class="project-info-block">
            <p>
                Вот, наш проект.
            </p>
        </div>
        <div class="participants-info-block">
            <div class="people-block">
                <img src="/static/img/section-1.png" width="652" height="491">
                <p>
                    Участник 1.
                </p>
            </div>
            <div class="people-block">
                <p>
                    Участник 2.
                </p>
                <img src="/static/img/section-1.png" width="652" height="491">
            </div>
            <div class="people-block">
                <img src="/static/img/section-1.png" width="652" height="491">
                <p>
                    Участник 3.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/about_us.js' %}"></script>
{% endblock %}