{% extends 'base/base.html' %}

{% load static %}
{% block content %}


{% include 'components/main/index/search.html' %}
{% include 'components/main/index/photo_search.html' %}
{% include 'components/main/index/first_product_section.html' %}
{% include 'components/main/index/statistics.html' %}
{% include 'components/main/index/second_product_section.html' %}
{% include 'components/main/index/modal_for_send_to_moderation.html' %}


{% endblock %}
{% block extra_js %}
<script src="{% static 'js/searcher.js' %}"></script>
{% endblock %}
