{% extends 'base/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/photo.css'%}">
{% endblock %}

{% block content %}
<div class="content-group">
    <div class="main-content-frame-in-content-group">
        <p class="header-text-in-main-content-frame">
            Загрузите фотографию товара
        </p>
        <p class="description-text-in-main-content-frame">
            Мы расскажем вам о нем всё, что знаем
        </p>
        <button class="photo-load-button-in-main-content-frame btn-md" style="border: none">
            <span class="text-in-photo-load-button">
                Загрузить фото
            </span>
        </button>
    </div>
    <div class="photo-frame-in-content-group">
        <p class="main-text-in-photo-frame">
            Можно перетащить сюда фотографию в формате jpeg
        </p>
        <p class="description-text-in-photo-frame">
            Мы знаем всё про молочные, мясные продукты, крупы, воду и многое другое
        </p>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/photo.js' %}"></script>
{% endblock %}