{% load static %}
<section class="section-xl">
    <div class="container">
        <div class="row justify-content-md-center flex-lg-row-reverse align-items-lg-center justify-content-lg-between row-50">
            <div class="col-md-9 col-lg-5">
                <h2 class="wow fadeInRight divider">Множество категорий в списке товаров</h2>
                <p class="wow fadeInRight" style="animation-delay: 0.05s">
                    На нашем сайте вы можете найти интересующий вас товар в широком списке,
                    отсортированном по категориям, а также набрав его название в поле поиска!
                </p>
            </div>
            <div class="col-md-9 col-lg-6">
                <img src="{% static 'img/sections/section-1.png' %}" alt="" width="652" height="491">
            </div>
        </div>
    </div>
</section>
