<section style="margin: 32px auto;">
    <div class="container">
        <div class="search-holder active">
            <div class="circle container"></div>
            <div class="form">
                <div class="search-button"></div>
                <input type="text" class="search-input" placeholder="Найдите товар" id="searcher"/>
                <div class="dropdown">
                  <input type="hidden" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <input type="hidden" name="data" value="{{all_goods_names}}" id="initial_data">
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu" id="dropdown_menu_searcher"></div>
                </div>

            </div>
        </div>
    </div>
</section>
