<section class="section-xl">
    <div class="container">
        <div class="row justify-content-md-center align-items-lg-center justify-content-lg-between row-50">
            <div class="col-md-9 col-lg-5">
                <h2 class="wow fadeInLeft divider">Система распознавания товара</h2>
                <p class="wow fadeInLeft" style="animation-delay: 0.05s">
                    Вы можете найти интересующий вас товар, просто отправив фотографию
                    его штрих-кода нашей системе. А скоро мы научимся распознавать товар по его
                    внешнему виду!
                </p>
            </div>
            <div class="col-md-9 col-lg-6">
                <img src="/static/img/section-2.png" alt="" width="652" height="491">
            </div>
        </div>
    </div>
</section>
